<div class="container-fluid m-0 p-0">
    <div class="card m-0 p-0">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <div>
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </div>

                    <!-- <ng-template >
                        <h6 class="mb-0">REVIEW REQUEST</h6>
                    </ng-template> -->
                </div>
                <div class="col-4 text-end">
                    <a (click)="close()" class="cursor-pointer">
                        <i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>

        </div>
        <hr class="horizontal dark" />
        <!-- first row -->
        <div class="row p-3">
            <div class="col-md-4 col-xl-4 boxes">
                <div class="card-body">
                    <div class="row align-items-center no-gutters ">
                        <div class="col me-2">
                            <div class="fw-bold text-xs mb-2"><span>
                                    <p><i class="fa-solid fa-user"></i> {{user.name}} {{user.surname}}
                                    <p>
                                </span></div>
                            <div class="text-dark fw-bold mb-0"><span>
                                    <p><i class="fa-solid fa-briefcase"></i> {{user.career}}</p>
                                </span></div>
                            <div class="text-dark fw-bold mb-0"><span>
                                    <p><i class="fa-solid fa-building"></i> {{user.client}}</p>
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-xl-3 boxes1">
                <div class=" py-2" style="border: .5px solid;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Used</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>{{requests.usedDays}}</h6>
                                    </span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 boxes1">
                <div class=" py-2" style="border: .5px solid;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p>Days Available</p>
                                    </span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>
                                        <h6>2</h6>
                                    </span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xl-2 boxes1">
                <div class="py-2"style="border: .5px solid;border-radius:30px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class=" fw-bold text-xs mb-1"><span>
                                        <p><i class="fa-solid" [class]="getIcons(requests.status)"></i>
                                            {{requests.status}}</p>
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /first row -->
        <!-- second row -->
        <div class="row p-4">
            <div class="col-lg-2 col-xl-2 me-5">
                <div class="row">
                    <label>
                        Leave type
                    </label>
                </div>
                <div class="row p-1">
                    <select disabled>
                        <option>{{requests.leaveType}}</option>
                    </select>
                </div>

            </div>
            <div class="col-lg-4 col-xl-4 me-5">
                <div class="row">
                    <label>
                        Attachments
                    </label>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-xl-5">
                        <div class="">
                            <div class="text-center" style="border: 1px solid;border-radius: 25px;">
                                file.pdf
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5">
                        <div class="">
                            <div class="text-center" style="border: 1px solid;border-radius: 25px;">
                                image.jpg
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /socond row -->
        <!-- third row -->
        <div class="row p-4">
            <div class="col-lg-3 col-xl-3 ">
                <div class="row">
                    <label>
                        From
                    </label>
                </div>
                <div class="row p-1">
                    <div class=""style="border: .5px solid;">
                        <div class="">
                            <h6>Friday</h6>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 ">September 23</div>
                                <div class="col-lg-6 col-xl-6">2022</div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-1 p-5">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="col-lg-3 col-xl-3 me-5">
                <div class="row">
                    <label>
                        To
                    </label>
                </div>
                <div class="row p-1">
                    <div class=""style="border: .5px solid;">
                        <div class="">
                            <h6>Friday</h6>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 text-secondary">September 23</div>
                                <div class="col-lg-6 col-xl-6">2022</div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-xl-3 me-5">
                <div class="row">
                    <label>
                        1 work day requested
                    </label>
                </div>
                <div class="row p-1">
                    <div class=""style="border: .5px solid;">
                        <div class="">
                            <div class="row">
                                <p><i class="fa-solid fa-pen"></i> propose a change</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /third row -->
        <!-- comment from learner -->
        <div class="row p-4">
            <div class="col">
                <div class="row">
                    <label>
                        Comments
                    </label>
                </div>
                <div class="row p-3">
                    <textarea class="form-control rounded-0 col-lg-9 col-xl-9" id="exampleFormControlTextarea1" rows="3"
                        disabled>{{requests.comments}}</textarea>
                </div>

            </div>
        </div>
        <!-- /comment from learner -->
        <hr class="horizontal dark" />
        <!-- note from trainer -->
        <div class="row p-4">
            <div class="col">
                <div class="row">
                    <label>
                        Note from trainer
                    </label>
                </div>
                <div class="row p-3">
                    <textarea class="form-control rounded-0 col-lg-9 col-xl-9" id="exampleFormControlTextarea1" rows="3"
                        disabled>The learner can be excused, i have no workshop on this day.</textarea>
                </div>

            </div>
        </div>
        <!-- /note from trainer -->
        <hr class="horizontal dark" />
        <!-- note from Management -->
        <div class="row p-4">
            <div class="col">
                <div class="row">
                    <label>
                        Note from management
                    </label>
                </div>
                <div class="row p-3">
                    <textarea class="form-control rounded-0 col-lg-9 col-xl-9" id="exampleFormControlTextarea1"
                        rows="3"></textarea>
                </div>

            </div>
        </div>
        <!-- /note from Management -->
        <!-- buttons -->
        <div class="row p-4">
            <div class="col-8"></div>
            <div class="col-2 text-end">
                <a type="submit" class="btn btn-reject border-color">Reject request</a>
            </div>
            <div class="col-2 text-end">
                <a type="submit" class="btn btn-success bg-approve text-light">Approve request</a>
            </div>
        </div>
        <!-- /buttons -->
    </div>
</div>