<div class="container-fluid m-0 p-0">
  <div class="card m-0 p-0">
    <div class="card-header">
      <div class="col text-end">
        <a (click)="close()" class="cursor-pointer">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </div>
      <div class="row align-items-center">
        <h6 class="mb-0">Sponsors Information</h6>
      </div>
    </div>
    
    <div class="container">
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">
                  Details
                </th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                  Description
                </th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">
                  Image
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sponsor of sponsors">
                <td>
                  <div class="d-flex">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{ sponsor.name }}</h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-xs ps-2">
                  <p class="font-weight-bold mb-0">
                    {{ sponsor.description }}
                  </p>
                </td>
                <td class="align-middle text-xs ps-2">
                  <p class="font-weight-bold mb-0">
                    <img id="image" 
                        class="profile-image" 
                        src="{{image}}" />
                  </p>
                </td>
                <td class="align-middle dropdown">
                  <button
                    class="btn btn-link text-secondary mb-0"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i aria-hidden="true" class="fa fa-ellipsis-v text-xs">
                    </i>
                  </button>
                  <ul class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a class="dropdown-item" (click)="openDialog(sponsor)">
                        <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;Edit Sponsor</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="deleteSponsor(sponsor?.id)">
                        <i class="fa-solid fa-trash"></i>&nbsp;&nbsp;Delete Sponsor</a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr class="horizontal dark my-4">
    <!-- Update/Add Sponsor table -->
    <div class="container-fluid m-0 p-0">
      <div class="card m-0 p-0">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <div *ngIf="sponsor; else showAdd">
                <h6 class="mb-0">Update Sponsor</h6>
              </div>
              <ng-template #showAdd>
                <h6 class="mb-0">Add Sponsor</h6>
              </ng-template>
            </div>
          </div>
        </div>
      
        <div class="card-body">
          <form [formGroup]="formModel" autocapitalize="off" (submit)="addSponsor()">
            <h6 class="heading-small text-muted mb-4">Enter Sponsor information</h6>
            <div>
              <div class="row mb-3">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label 
                    class="form-control-label" 
                    for="input-name"
                    [ngClass]="{
                      'red-text':
                      formModel.controls['Name'].invalid &&
                      formModel.controls['Name'].touched}">
                      Name</label>
                    <input 
                      type="text" 
                      id="input-name" 
                      class="form-control" 
                      placeholder="Name" 
                      formControlName="Name"
                      [ngClass]="{
                        'red-border':
                        formModel.controls['Name'].invalid &&
                        formModel.controls['Name'].touched}">
                    <div 
                      class="red-text" 
                      *ngIf="
                        formModel.controls['Name'].invalid && 
                        formModel.controls['Name'].touched">
                      <div *ngIf="formModel.controls['Name'].errors.invalidName && !formModel.controls['Name'].errors.required">
                        Please enter a valid Sponsor name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label 
                    class="form-control-label" 
                    for="input-description"
                    [ngClass]="{
                      'red-text':
                      formModel.controls['Description'].invalid &&
                      formModel.controls['Description'].touched}">
                      Description</label>
                    <textarea 
                      type="text" 
                      id="input-description" 
                      class="form-control" 
                      placeholder="Description" 
                      formControlName="Description"
                      [ngClass]="{
                        'red-border':
                        formModel.controls['Description'].invalid &&
                        formModel.controls['Description'].touched}"></textarea>
                    <div 
                      class="red-text" 
                      *ngIf="
                        formModel.controls['Description'].invalid && 
                        formModel.controls['Description'].touched">
                      <div *ngIf="formModel.controls['Description'].errors.invalidDescription && !formModel.controls['Description'].errors.required">
                        Please enter a valid Sponsor description.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">
                      Image
                    </label>  
                      <img id="image" 
                        class="profile-image" 
                        src="{{image}}" />
                      <div 
                        (click)="fileInput.click()" 
                        for="fileInput" 
                        type="button" 
                        class="brows-button cursor-pointer bg-white  font-medium">                  
                          Browse Photo
                      </div>
                      <input 
                        formControlName="userPhoto" 
                        name="photo" 
                        id="imageUploadProfile" 
                        #fileInput accept="image/*" 
                        (change)="uploadFile($event)" 
                        class="hidden"  
                        type="file" >
                  </div>
                </div>
              </div> 
            </div>
            <div class="row-mt-3">
              <div class="col-8"></div>
              <div class="col-4 text-right">
                <div *ngIf="sponsor; else addNewSponsor">
                  <a 
                    (click)="updateSponsor()" 
                    class="btn btn-primary">
                    <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;Update Sponsor</a>
                </div>

                <ng-template #addNewSponsor>
                  <a 
                    (click)="addSponsor()" 
                    class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add Sponsor</a>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
